@define-mixin button ##background, ##foreground, ##hover {
  background-color: ##background;
  border-radius: 100px;
  color: ##foreground;

  &:hover {
    background-color: ##hover;
  }

  @mixin-content;
}

.button {
  @mixin button value($color-basic, bright), color-mod(value($color-basic, bright) blackness(70%));

  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  border: 0;
  user-select: none;
  touch-action: manipulation;
  transition: all value($time, normal);

  &--primary {
    @mixin button value($color-primary, normal), value($color-primary, semidarker),
      color-mod(value($color-primary, normal) blackness(30%));
  }

  &--primary-dark {
    @mixin button value($color-primary, dark), color-mod(value($color-primary, dark) blackness(70%)),
      color-mod(value($color-primary, dark) lightness(60%));
  }

  &--primary-darker {
    @mixin button value($color-primary, darker), color-mod(value($color-primary, darker) lightness(80%)),
      color-mod(value($color-primary, darker) lightness(40%));
  }

  &--primary-darkest {
    @mixin button value($color-primary, darkest), color-mod(value($color-primary, darkest) lightness(80%)),
      color-mod(value($color-primary, darkest) lightness(60%));
  }

  &--primary-bright {
    @mixin button value($color-primary, bright), color-mod(value($color-primary, normal) blackness(70%)),
      color-mod(value($color-primary, normal) blackness(10%));
  }

  &--primary-brighter {
    @mixin button value($color-primary, brighter), color-mod(value($color-primary, normal) blackness(50%)),
      color-mod(value($color-primary, normal) blackness(60%));
  }
}
