@define-mixin button ##background, ##foreground {
  background-color: rgba(##background, 0.1);
  border-radius: 100rem;
  border: 2px solid ##background;
  color: ##foreground;

  &:hover {
    background-color: ##background;
  }

  @mixin-content;
}

.button {
  @mixin button value($color-basic, bright), color-mod(value($color-basic, bright) blackness(70%));

  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  border: 0;
  user-select: none;
  touch-action: manipulation;
  transition: all value($time, normal);

  &--primary {
    @mixin button value($color-primary, normal), value($color-primary, semidarker);
  }

  &--primary-dark {
    @mixin button value($color-primary, dark), color-mod(value($color-primary, dark) blackness(70%));
  }

  &--primary-darker {
    @mixin button value($color-primary, darker), color-mod(value($color-primary, darker) lightness(80%));
  }

  &--primary-darkest {
    @mixin button value($color-primary, darkest), color-mod(value($color-primary, darkest) lightness(80%));
  }

  &--primary-bright {
    @mixin button value($color-primary, bright), color-mod(value($color-primary, normal) blackness(70%));
  }

  &--primary-brighter {
    @mixin button value($color-primary, brighter), color-mod(value($color-primary, normal) blackness(50%));
  }
}
